body {
  font-family: 'Saira', sans-serif;
}

.navBar {
  background-color: #4286D3;
  color: white;
}

.tableHeader {
 font-weight:400;
 color: black;
border-top:2px solid #858d99;
background-color: #4286D3;
}

.image {
  width: 1rem;
}

.searchBar {
  background-color: #F5DD90;
}
.tableBody {
  border-top:2px solid black;
  font-weight:350;
}

.button {
  color: #4286D3;
}

.button:disabled {
  color: grey;
  cursor: inherit;
}

.footerContainerParent{
  position: absolute;
  width: 100%;
  margin-top: 4rem;
}

.footerContainer{
  max-width: 44rem;
}
.previous {
  position: relative;
  margin-left: 4rem;
}

.page-dropdown {
  left: 20%;
  position: relative;
}

.next {
  position: relative;
  margin-right: 4rem;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-bottom: 10px solid #FF595E;
}

.arrow-down {
  width: 0;
  height: 0;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #F5DD90;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
